VITE_API_URL=http://127.0.0.1:5000/api
VITE_GOOGLE_CLIENT_ID=366692040766-iduuu65jevefkpt2n04na5flh294jpec.apps.googleusercontent.com

# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
